<div class="panel-header">
  <div class="header text-center">
    <br>
    <h2 class="title">Your Home Appliances</h2>

  </div>
</div>

<div class="mainDiv">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"><b>location: </b> Location 1 <b> type: </b>Type 1</h5>
          <h4 class="card-title">APPLIANCE 1</h4>
          
        </div>
        <div class="card-body">
          <table class="tabela">
            <tr>
              <th>Name</th>
              <th>Min</th>
              <th>Max</th>
              <th>Current</th>
            </tr>
            <tr class="rreshtTabele">
              <td>BVBV</td>
              <td>SSS</td>
              <td>324</td>
              <td>1234</td>
            </tr>
          </table>
        </div>
        <div class="card-footer">
          
          <span class="state" style="color: rgb(0, 204, 51);">ON</span>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"><b>location: </b> Location 2 <b> type: </b>Type 2</h5>
          <h4 class="card-title">APPLIANCE 2</h4>
          
        </div>
        <div class="card-body">
          
        </div>

        <div>

        </div>

        <div class="card-footer">
          <span class="state" style="color: rgb(204, 0, 0);">OFF</span>
          <hr>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"><b>location: </b> Location 3 <b> type: </b>Type 3</h5>
          <h4 class="card-title">APPLIANCE 3</h4>
        </div>
        <div class="card-body">
         
        </div>
        <div class="card-footer">
          
          <button>Delete</button>
          <hr>
         
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h5 class="card-category"><b>location: </b> Location 4 <b> type: </b>Type 4</h5>
          <h4 class="card-title">APPLIANCE 4</h4>
        </div>
        <div class="card-body ">
          
        </div>
        <div class="card-footer ">
          <button>Delete</button>
          <hr>
          
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category"><b>location: </b> Location 5 <b> type: </b>Type 5</h5>
          <h4 class="card-title"> APPLIANCE 5</h4>
        </div>
        <div class="card-body">
          <br>
          
          <button>Delete</button>
          <hr>

        </div>
      </div>
    </div>
  </div>
</div>